body {
	background: #000000 
}

div p {
	background-image: url("img/KURT.jpg");
	background-repeat: no-repeat;  
	background-position: center;   
	background-attachment: fixed;  
	-webkit-background-clip: text;
	color: transparent;  
	line-height: 10px; 
	font-size: 8px; 
    background-size: 600px; 	
}   